/* Accordion container */
.accordion {
    background-color: #f7f7f7;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 21px;
    transition: 0.4s;
    margin-top: 8px; /* Add space between accordion elements */
    margin-bottom: 8px; /* Add space between accordion elements */
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow for each element */
}

/* #0071bc */

/* Active (open) accordion */
.accordion.active {
    background-color: #f7f7f7; /* Same color when active */
    /* border: 1px solid #0071bc; Add border color when active */
    /* color: #0071bc; */
    outline: none; /* Remove blue border when clicking*/
}

/* Accordion panel */
.panel {
    padding: 0 18px;
    border-radius: 5px;
    background-color: #fff; /* Default panel color */
    display: none;
    overflow: hidden;
}

/* Active (open) panel */
.accordion.active + .panel {
    background-color: #fff; /* Change panel color when active */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Arrow icon */
.accordion::after {
    content: '\2304'; /* Unicode character for downward arrow */
    float: right;
    margin-left: 5px;
    font-size: 20spx; /* Increase the font size to make the arrowhead larger */
}

/* Active (open) arrow */
.accordion.active::after {
    transform: rotate(180deg);
    font-size: 20px; /* Increase the font size to make the arrowhead larger */
}


/* Remove blue border when toggle off */
/* .accordion:not(.active):focus {
    outline: none;
} */

